numpy
pandas
librosa
scikit-learn
catboost
cryptography
matplotlib
scipy
soundfile
playsound3
fastapi
uvicorn
python-multipart
websockets
sqlalchemy
passlib[bcrypt]
python-jose
aiofiles
pydantic
joblib
supabase
python-dotenv